In [3]:
import pandas as pd
data={'Name':['alice','bob','charlie'],
      'Age':[24,27,22],
      'City':['Newyork','Los Angeles',"Chicago"]}
df=pd.DataFrame(data)
df.to_csv("sample")
print(df)

      Name  Age         City
0    alice   24      Newyork
1      bob   27  Los Angeles
2  charlie   22      Chicago

# Reading CSV Files

In [5]:
df=pd.read_csv('sample')
print(df.head())

   Unnamed: 0     Name  Age         City
0           0    alice   24      Newyork
1           1      bob   27  Los Angeles
2           2  charlie   22      Chicago

# Data cleaning

In [6]:
df=pd.DataFrame({'A':[1,2,None,4],"b":[None,2,3,4]})
df_cleaned=df.dropna()
print(df_cleaned)

     A    b
1  2.0  2.0
3  4.0  4.0

# Filtering Data

In [7]:
df=pd.DataFrame({'a':[1,2,3,4],'b':[5,6,7,8]})
filtered_df=df[df['a']>2]
print(filtered_df)

   a  b
2  3  7
3  4  8

# Grouping Data

In [8]:
df=pd.DataFrame({'a':['foo','bar','foo','bar'],'b':[1,2,3,4]})
grouped=df.groupby('a').sum()
print(grouped)

     b
a
bar  6
foo  4

# Mergind DataFrames

In [10]:
df1=pd.DataFrame({'a':['foo','bar'],'b':[1,2]})
df2 = pd.DataFrame({'a': ['foo', 'bar'], 'c': [3, 4]})
merged_df = pd.merge(df1, df2, on='a')
print(merged_df)

     a  b  c
0  foo  1  3
1  bar  2  4

# Pivot Tables

In [14]:
df=pd.DataFrame({'a':['foo','bar','foo','bar'],
                  'b':[1,2,3,4],
                  'c':[5,6,7,8]})
pivot_tables=df.pivot_table(values='c',index='a',columns='b', aggfunc='sum')
print(pivot_tables)

b      1    2    3    4
a
bar  NaN  6.0  NaN  8.0
foo  5.0  NaN  7.0  NaN

# DataFrame Transformation

In [21]:
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]})
transformed_df = df.transform(lambda x: x ** 2)
print(transformed_df)

    a   b
0   1  25
1   4  36
2   9  49
3  16  64

# Handling Duplicates

In [22]:
df = pd.DataFrame({'a': [1, 1, 2, 3], 'b': [4, 4, 5, 6]})
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

   a  b
0  1  4
2  2  5
3  3  6

 # Saving DataFrames to CSV

In [23]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df.to_csv('output.csv', index=False)
print("DataFrame saved to output.csv")

DataFrame saved to output.csv